*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(225, 236, 66);

}
.main{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
h1{
    font-size: 4em;
    font-weight: 100;
    text-shadow: 1px 1px 5px rgb(27, 6, 6);
}
#emoji{
    min-height: 150px;
    min-width: 100px;
    font-size: 3em;
    padding: 50px;
    background-color: rgb(217, 98, 0);
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}
#nameEmoji{
    font-style:italic , bold ;
    margin-top: 20px;
    font-size: 5em;
    color: rgba(0, 0, 0, 0.43);
}
